%style{:type => "text/css"}
  == table { margin-bottom: 45px; }
  == th { padding: 6px; text-align: left; }
  == td { border: 1px solid #ccc; padding: 6px; text-align: left; }


= form_for :player, :url => admin_players_path do |f|
  = f.error_messages
  = f.label :photo_id
  = f.text_field :photo_id
  = f.submit "Look Up Player"

%br
%br

%h3 Recent Players
%table{:cellpadding => 0, :cellspacing => 0}
  %th Player Id
  %th Answers
  %th Location
  %th Score
  %th Accuracy
  %th Last Played
  %th Photos?
  -@recent_players.each do |row|
    %tr
      %td=link_to(row["player_id"], admin_player_path(row["player_id"]))
      %td=row["count"]
      %td=row["geo_name"]
      %td=(row["answer_weight"].to_f * 1000).to_i - 1000
      %td="#{row["accuracy"]}%"
      %td="#{time_ago_in_words(Time.parse("#{row["created_at"]} UTC"))}"
      %td= row['photo_count'].to_i > 0 ? "Y" : ""
