%style
  == .labs { padding-top: 6px; overflow: hidden; margin-bottom: 30px; }
  == .lab_item { float: left; text-align: center; width: 174px; margin-top: 6px; }
  == .others { float: left; width: 300px; padding: 30px 0 0 30px; }
  == .lab_item a, .others a { display: block; margin-top: 3px; }

- if controller.locale_subdomain.nil?
  -#
    .latest_news
      .explanation
        %b Latest News:
        Sorry to bother everyone, but I need your help. I really don't want to turn the site in to a pay site, but
        if I can't find a way to grow the site without a huge advertising budget, I might have to. So
        = link_to("please tell people you know about the site,", spread_the_word_path)
        it's a huge help.
        %br
        As always, let me know if you have problems or suggestions
        using the feedback link at the bottom of the page.
        %br
        &nbsp; &nbsp; - Thanks, Jared

  .labs
    %h2
      The Labs
      %span.explanation
        (experimental stuff)

    .lab_item
      %b Discover Who
      = link_to(image_tag("discover_game.gif"), profile_game_discover_path)

    .lab_item
      %b Questions & Answers
      = link_to(image_tag("q_and_a.jpg"), questions_path)

    .lab_item
      %b The Map
      = link_to(image_tag("map.jpg"), map_path)

    .lab_item
      %b Go Clubbing
      = link_to(image_tag("clubbing_door.jpg"), map_path)

    .lab_item
      %b Interesting Interests
      = link_to(image_tag("interesting_interests.gif"), map_path)


    .others
      %h4 Also:
      = link_to("Speed Dating (through a partner)", "http://www.speeddate.com/index.php?page=signup&action=join&afid=#{@current_player.id}&asid=&pid=8419", :target => "_blank")
      = link_to("Discounts", dating_discounts_path)

