%p= "Hi#{" #{@recipient.first_name}" unless @recipient.first_name.blank?},"

%p
  One of your matches,
  = "#{@author.first_name_or_anonymous},"
  would like to connect with you!

%p
  Here is a photo of
  = "#{@author.first_name_or_anonymous}:"
  %br
  = link_to image_tag(@combo.photo_for(@author).image.url(:thumbnail), :alt => "#{@author.his_her.titleize} Photo"), @emailing.facebook_if(@combo, connection_path(@combo), college_connections_path(@combo))

%p
  Would you like to connect with
  = "#{@author.him_her}?"

%p
  = "You can learn more about #{@author.him_her} and connect with #{@author.him_her} (or decline the connection) on"
  = "#{link_to "your connection page", @emailing.facebook_if(@combo, connection_path(@combo), college_connections_path(@combo))} >".html_safe
