%tr
  %td Bounce Rate
  %td= "#{@bounce_rates[:rolling_day]}%"
  %td= "#{@bounce_rates[:rolling_day_one_week_ago]}%"
  %td= "#{@bounce_rates[:rolling_day_four_weeks_ago]}%"
  %td= "#{@bounce_rates[:rolling_week]}%"
  %td= "#{@bounce_rates[:rolling_week_one_week_ago]}%"
  %td= "#{@bounce_rates[:rolling_week_four_weeks_ago]}%"

